*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    transition: 0.4s;
}
button{
    padding: 10px 25px;
    outline: none;
    border: none;
    background-color: #232123;
    color: #fff;
    border-radius: 25px;
    font-size: 19px;
    cursor: pointer;
    transition: 0.7s;
}
body.active{
    background-color: #232123;
}
body.active button{
    background-color: #f2f2f2;
    color: #333;
}